@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Work Sans", sans-serif;
}
/* header banner start here */
.header-container{
    max-width: 1350px;
    height: 631px;
    background: rgba(255, 144, 14, 0.1);
}
/* share items style here */
.display-flex{
    display: flex;
}
.banner-title{
    width: 550px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}
.title{
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    margin-bottom: 5px;
}
.text{
    font-size: 0.6rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-bottom: 5px;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: #FFFFFF;
    border: none;
}
.banner-image{
    width: 800px;
    height: 390px;
    margin: 0 auto;
    border-radius: 8px;
}
.banner-image img{
    width: 100%;
}
/* share items style end here */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0 120px;;
    align-items: center;
}
nav a{
    margin-right: 50px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
/* header banner end here */

/* features section start here */
.features-container{
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.features-content{
    display: flex;
    align-items: center;
    gap: 50px;   
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.features-image img{
    width: 242px;
    height: 242px;
    border-radius: 8px;
}
/* title style */
.Quick-list{
    font-size: 1.8rem;
    font-weight: 500;
}
.Features{
    color: #FF900E;
}
/* features section end here */

/* features love and enjoy section start here */
.features-love-container{
    max-width: 1000px;
    height: 631px;
    margin: 0 auto;
    margin-top: 100px;
}
.features-love-title{
    width: 500px;
}
.features-love-content{
    display: flex;
    gap: 100px;
}
.features-love{
    padding-left: 10px;
    border-left: 2px solid #FF900E;
}
.feature-image{
    width: 390px;
    height: 580px;
}
.feature-image img{
    width: 100%;
    height: 100%;
}
.div{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-top: 20px;
}
.div-title{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    margin-bottom: 5px;
}
.div-text{
    font-size: 0.5rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-bottom: 5px;
}
.feature-btn{
    width: 142px;
    height: 80px;
    padding: 15px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: #FFFFFF;
    margin-top: -80px;
    margin-left: -80px;
    border: none;
}
.btn-span{
    font-size: 1.6rem;
    font-weight: 700;
}
/* features love and enjoy section end here */

/* Some facts section start here */
.some-facts-container{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
}
.some-facts-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    margin-left: 50px;
}
.box{
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;

}
.box-item{
    margin: 20px;
    text-align: center;
}
/* Some facts section end here */

/* our sponspors section start here */

.our-sponspors-container{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
.our-sponspors-image{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    gap: 30px;
}
.our-sponspors-image img{
    filter:  grayscale(100%);
}




/* media query style */
@media screen and (max-width: 576px) {
    .header-container,
    .banner-title,
    .banner-image,
    .features-container,
    .features-love-container,
    .some-facts-container,
    .our-sponspors-container{
        width: 100%;
    }
    .header-container{
        height: 500px;
        margin-bottom: 50px;
    }
    .navbar{
        flex-direction: column;
        padding: 10px 30px 20px 40px;
    }
    nav a{
        margin-right: 20px;
    }
    .banner-image{
        margin-top: 10px;
    }
    .features-container{
        margin-top: 0;
    }
    .features-content, .features-love-content
    {
        flex-direction: column;
    }
    .features-love-container{
        margin-top: 850px;
    }
    .features-title{
        text-align: center;
    }
    .features-image, .some-facts-box, .our-sponspors-image{
        grid-template-columns: 1fr;
    }
    .features-love-content{
        gap: 0;
    }
    .feature-image{
       margin-top: 10px;
    }
     
     .features-love-title{
        width: 100%;
     }
    .feature-btn{
        margin-left: 0;
    }
    .some-facts-container{
        margin-top: 650px;
    }
    .some-facts-box{
        margin-top: 20px;
        gap: 5px;
    }
    .box{
        margin: 0 auto;
    }
    .our-sponspors-container{
        margin-top: 350px;
    }
    
}
